@mixin PT-serif-bold {
    font-family: "PT Serif", sans-serif;
    font-weight: 700;
  }
  
  @mixin PT-serif-regular {
    font-family: "PT Serif", sans-serif;
    font-weight: 400;
  }

  @mixin PT-sans-italic {
    font-family: "PT Serif", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  @mixin PT-sans-bold {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
  }
  
  @mixin PT-sans-regular {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
  }
  
  @mixin Lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
  }
  
  @mixin image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  @mixin btn {
    @media screen and (max-width: 1367px) {
      font-size: 16px;
      padding: 15px 30px;
    }

    cursor: pointer;
    @include PT-serif-bold;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: #ff6633;
    color: #fff;
    border-radius: 5px;
    padding: 20px 35px;
  }


