/* Librarys from   */
@import "../../bower_components/bootstrap/dist/css/bootstrap";

@import "../../bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css";
@import url('https://fonts.googleapis.com/css?family=Lato:400|PT+Sans:400,400i,700|PT+Serif:400,700');

/* Custom styles */
@import "base/_reset";
@import "base/_mixins";

body {
  .main-wrapper {
    width: 100%;
    background-color: #f1f1f1;
    margin: 0 auto;

    section.header {
      width: 100%;
      background: url("../img/header-bg.png");

      header {
        @media screen and (max-width: 1367px) {
          width: 968px;
        }

        @media screen and (max-width: 967px) {
          width: 768px;
        }

        @media screen and (max-width: 767px) {
          width: 480px;
        }

        padding-top: 60px;
        width: 1368px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        .logo {
          flex: 1;

          a {
            h2.logo {
              @media screen and (max-width: 1367px) {
                font-size: 36px;
              }

              color: #ff6633;
              @include PT-serif-bold;
              font-size: 52px;
            }

            &:hover {
              text-decoration: none;
            }
          }
        }

        .navigation {
          @media screen and (max-width: 967px) {
            flex: 4;
          }

          flex: 2;

          ul.nav {
            justify-content: space-between;

            li.nav-item {
              @media screen and (max-width: 1367px) {
                width: 115px;
              }

              width: 150px;

              a.nav-link {
                @media screen and (max-width: 1367px) {
                  font-size: 15px;
                }

                padding: 0;
                @include PT-serif-bold;
                text-transform: uppercase;
                font-size: 20px;
                color: #fff;

                &:hover {
                  color: #ff6633;
                  transition: .3s;
                }
              }

              .text-nav {
                margin-top: 10px;

                p {
                  @media screen and (max-width: 1367px) {
                    font-size: 13px;
                  }

                  @include PT-sans-italic;
                  font-size: 18px;
                  color: #fff;
                }
              }
            }
          }
        }
      }

      .text-header {
        @media screen and (max-width: 1367px) {
          margin-top: 175px;
        }

        @media screen and (max-width: 967px) {
          margin-top: 140px;
        }

        margin-top: 240px;

        .text-h2 {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          h2 {
            @media screen and (max-width: 1367px) {
              font-size: 54px;
            }

            @include PT-serif-bold;
            font-size: 76px;
            color: #fff;
          }
        }

        .text-h3 {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          h3 {
            @media screen and (max-width: 1367px) {
              font-size: 37px;
            }

            @include PT-serif-regular;
            font-size: 52px;
            color: #fff;

            span {
              text-decoration: underline;
            }
          }
        }

        .button-header {
          @media screen and (max-width: 1367px) {
            margin-top: 50px;
          }

          @media screen and (max-width: 967px) {
            margin-top: 30px;
          }

          display: flex;
          justify-content: center;
          margin-top: 70px;

          .btn-orange {
            @include btn;
            margin-right: 10px;

            &:hover {
              background-color: #e15f32;
            }
          }

          .btn-transparent {
            @include btn;
            margin-left: 10px;
            background-color: rgba(7,7,7,0.7);

            &:hover {
              background-color: rgba(7,7,7,0.9);
            }
          }
        }

        .scroll-text {
          @media screen and (max-width: 1367px) {
            margin-top: 150px;
          }

          @media screen and (max-width: 967px) {
            margin-top: 120px;
          }

          margin-top: 213px;
          display: flex;
          justify-content: center;

          p {
            @media screen and (max-width: 967px) {
              font-size: 18px;
              margin-bottom: 5px;
            }

            @include PT-sans-regular;
            font-size: 20px;
            color: #fff;
          }
        }

        .icon-arrow {
          display: flex;
          justify-content: center;
          padding-bottom: 34px;

          a {
            i {
              @media screen and (max-width: 967px) {
                font-size: 22px;
              }

              color: #fff;
              font-size: 32px;
            }
          }
        }
      }
    }

    section.about-restaurant {
      @media screen and (max-width: 1367px) {
        width: 968px;
        padding-bottom: 100px;
      }

      @media screen and (max-width: 967px) {
        width: 768px;
        padding-bottom: 80px;
      }

      @media screen and (max-width: 767px) {
        width: 480px;
      }

      display: flex;
      flex-direction: column;
      width: 1368px;
      margin: 0 auto;
      padding-bottom: 180px;

      .top-image {
        @media screen and (max-width: 1367px) {
          margin-bottom: -33px;
          padding-top: 100px;
        }

        @media screen and (max-width: 967px) {
          //width: 768px;
          //padding-bottom: 80px;
        }

        padding-top: 180px;
        display: flex;
        justify-content: space-between;
        margin-bottom: -124px;

        .about {
          @media screen and (max-width: 1367px) {
            padding-top: 60px;
            padding-right: 35px;
          }

          padding-top: 90px;
          width: 50%;
          padding-right: 80px;

          .text {
            h3 {
              @media screen and (max-width: 1367px) {
                font-size: 27px;
                margin-bottom: 25px;
              }

              display: flex;
              justify-content: center;
              @include PT-serif-bold;
              font-size: 36px;
              color: #3b3b3b;
              margin-bottom: 45px;
            }

            p {
              @media screen and (max-width: 1367px) {
                font-size: 16px;
              }

              @include PT-sans-regular;
              font-size: 18px;
              color: #4b4b4b;

              span {
                color: #ff6633;
              }
            }
          }

          .button-about {
            display: flex;
            justify-content: flex-end;
            margin-top: 42px;

            .btn-orange {
              @media screen and (max-width: 1367px) {
                font-size: 16px;
                padding: 15px 30px;
              }

              @include btn;

              &:hover {
                background-color: #e15f32;
              }
            }
          }
        }

        .wine-image {
          @media screen and (max-width: 1367px) {
            width: 630px;
            height: 435px;
          }

          width: 938px;
          height: 640px;

          img {
            @include image;
          }
        }
      }

      .bottom-image {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        z-index: 1;

        .person {
          @media screen and (max-width: 1367px) {
            width: 535px;
            height: 300px;
          }

          width: 790px;
          height: 480px;

          img {
            @include image;
          }
        }

        .kitchen {
          @media screen and (max-width: 1367px) {
            width: 300px;
            height: 240px;
          }

          margin-left: 25px;
          margin-right: 25px;
          width: 420px;
          height: 330px;

          img {
            @include image;
          }
        }

        .food {
          @media screen and (max-width: 1367px) {
            width: 250px;
            height: 240px;
          }

          width: 355px;
          height: 330px;

          img {
            @include image;
          }
        }
      }
    }

    section.menu {
      @media screen and (max-width: 1367px) {
        padding-top: 100px;
        padding-bottom: 100px;
      }

      width: 100%;
      background-color: #fff;
      padding-top: 180px;
      padding-bottom: 180px;

      .wrap {
        @media screen and (max-width: 1367px) {
          width: 968px;
        }

        @media screen and (max-width: 967px) {
          width: 768px;
        }

        @media screen and (max-width: 767px) {
          width: 480px;
        }

        display: flex;
        margin: 0 auto;
        width: 1368px;

        .image-food {
          width: 50%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          .steak {
            @media screen and (max-width: 1367px) {
              width: 220px;
              height: 220px;
            }

            width: 314px;
            height: 314px;

            img {
              @include image;
            }
          }

          .beef-steak {
            @media screen and (max-width: 1367px) {
              width: 220px;
              height: 220px;
            }

            width: 314px;
            height: 314px;

            img {
              @include image;
            }
          }

          .cakes {
            @media screen and (max-width: 1367px) {
              width: 475px;
              height: 225px;
            }

            margin-top: 44px;
            width: 670px;
            height: 314px;

            img {
              @include image;
            }
          }
        }

        .descript-menu {
          @media screen and (max-width: 1367px) {
            margin-left: 50px;
            margin-top: 50px;
          }

          margin-left: 70px;
          margin-top: 100px;

          .text-menu {
            h3 {
              @media screen and (max-width: 1367px) {
                font-size: 27px;
                margin-bottom: 30px;
              }

              display: flex;
              justify-content: center;
              @include PT-serif-bold;
              font-size: 36px;
              color: #3b3b3b;
              margin-bottom: 45px;
            }

            p {
              @media screen and (max-width: 1367px) {
                font-size: 18px;
              }

              @include PT-sans-regular;
              font-size: 20px;
              color: #4b4b4b;

              span {
                color: #ff6633;
              }
            }
          }

          .button-about {
            display: flex;
            justify-content: flex-end;
            margin-top: 42px;

            .btn-orange {
              @include btn;

              &:hover {
                background-color: #e15f32;
              }
            }
          }
        }
      }
    }

    section.reservations {
      @media screen and (max-width: 1367px) {
        width: 968px;
        padding-top: 100px;
        padding-bottom: 100px;
      }

      @media screen and (max-width: 967px) {
        width: 768px;
      }

      @media screen and (max-width: 767px) {
        width: 480px;
      }

      width: 1368px;
      padding-top: 180px;
      padding-bottom: 180px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;

      .make-reservations {
        @media screen and (max-width: 1367px) {
          width: 475px;
          padding: 80px 75px;
        }

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 672px;
        padding: 117px 109px;
        background-color: #fff;
        box-shadow: 0 8px 11px 0 rgba(0,0,0,0.25);

        .title {
          @media screen and (max-width: 1367px) {
            margin-bottom: 0;
          }

          margin-bottom: 55px;

          h3 {
            @media screen and (max-width: 1367px) {
              font-size: 24px;
            }

            @include PT-serif-bold;
            font-size: 30px;
            color: #3b3b3b;
          }
        }

        form.reserv {
          @media screen and (max-width: 1367px) {
            width: 326px;
          }

          position: relative;
          width: 458px;
          
          input {
            @media screen and (max-width: 1367px) {
              margin-bottom: 25px;
              padding: 10px 25px 10px 20px;

            }

            width: 100%;
            background-color: #f7f7f7;
            margin-bottom: 30px;
            padding: 10px 25px 10px 30px;
            display: flex;
            justify-content: center;
            outline: none;
            border-radius: 5px;
            border: 1px solid #ececec;
          }

          span {
            right: 15px;
            z-index: 1;
            position: absolute;

            i {
              margin-top: 14px;
            }
          }

          .btn-transparent {
            @include btn;
            margin-top: 15px;
            width: 100%;
            background-color: rgba(7,7,7,0.7);

            &:hover {
              background-color: rgba(7,7,7,0.9);
            }
          }
        }
      }

      .upcoming-events {
        @media screen and (max-width: 1367px) {
          width: 475px;
          padding: 80px 40px;
        }

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 672px;
        padding: 117px 40px;
        background-color: #fff;
        box-shadow: 0 8px 11px 0 rgba(0,0,0,0.25);

        .title {
          @media screen and (max-width: 1367px) {
            margin-bottom: 30px;
          }

          margin-bottom: 55px;

          h3 {
            @media screen and (max-width: 1367px) {
              font-size: 24px;
            }

            @include PT-serif-bold;
            font-size: 30px;
            color: #3b3b3b;
          }
        }

        .events {
          display: flex;
          justify-content: space-between;

          .picture {
            @media screen and (max-width: 1367px) {
              width: 90px;
              height: 90px;
            }

            margin-right: 30px;
            width: 105px;
            height: 105px;
            border-radius: 50%;
            overflow: hidden;

            img {
              @include image;
            }
          }
          
          .info-event {
            flex: 5;

            .title-events {
              h3 {
                @media screen and (max-width: 1367px) {
                  font-size: 18px;
                  margin-bottom: 5px;
                }

                @include PT-serif-bold;
                font-size: 24px;
                color: #ff6633;
                margin-bottom: 35px;
              }
            }

            .date-events {
              margin-bottom: 10px;
              
              span {
                @media screen and (max-width: 1367px) {
                  font-size: 15px;
                }

                @include PT-sans-bold;
                font-size: 16px;
                color: #3b3b3b;
                margin-right: 30px;

                i {
                  font-size: 16px;
                  color: #555555;
                }
              }
            }
            
            .descript-event {
              margin-bottom: 30px;

              p {
                @media screen and (max-width: 1367px) {
                  font-size: 16px;
                }

                @include PT-sans-regular;
                font-size: 20px;
                color: #3b3b3b;
                
                a {
                  @include PT-sans-italic;
                  color: #ff6633;

                  &:hover {
                    text-decoration: none;
                  }
                }
              }
            }
          }
        }
      }
    }

    section.pre-footer {
      @media screen and (max-width: 1367px) {
        padding-top: 100px;
        padding-bottom: 100px;
      }

      width: 100%;
      background-color: #fff;
      padding-top: 180px;
      padding-bottom: 180px;

      .wrap {
        @media screen and (max-width: 1367px) {
          width: 968px;
        }

        @media screen and (max-width: 967px) {
          width: 768px;
        }

        @media screen and (max-width: 767px) {
          width: 480px;
        }

        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 1368px;

        .book-a-table {
          flex: 2;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          h3 {
            @media screen and (max-width: 1367px) {
              font-size: 27px;
            }

            @include PT-serif-bold;
            font-size: 36px;
            color: #3b3b3b;
          }

          p {
            @media screen and (max-width: 1367px) {
              font-size: 16px;
            }

            @include PT-sans-regular;
            font-size: 24px;
            color: #5b5b5b;
            margin: 0;
            margin-bottom: 35px;
          }

          .btn-orange {
            @include btn;

            &:hover {
              background-color: #e15f32;
            }
          }
        }

        .divider {
          flex: 1;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;

          hr.top {
            @media screen and (max-width: 1367px) {
              width: 60px;
              margin-bottom: 30px;
            }

            width: 85px;
            margin-bottom: 40px;
            color: #000;
            transform: rotateZ(90deg);
          }

          h3 {
            @media screen and (max-width: 1367px) {
              font-size: 25px;
            }

            @include Lato-regular;
            font-size: 30px;
            color: #9a9999;
          }
        }

        hr.bottom {
          @media screen and (max-width: 1367px) {
            width: 60px;
            margin-top: 30px;
          }

          width: 85px;
          margin-top: 40px;
          color: #000;
          transform: rotateZ(90deg);
        }

        .share {
          flex: 2;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          
          h3 {
            @media screen and (max-width: 1367px) {
              font-size: 27px;
            }

           @include PT-serif-bold;
            font-size: 36px;
            color: #3b3b3b;
          }

          p {
            @media screen and (max-width: 1367px) {
              font-size: 16px;
            }

            @include PT-sans-regular;
            font-size: 24px;
            color: #5b5b5b;
            margin: 0;
            margin-bottom: 35px;
          }
          
          .facebook {
            cursor: pointer;
            outline: none;
            border-radius: 6px;
            border: none;
            background-color: #3e59a5;
            color: #fff;
            @include PT-sans-regular;
            font-size: 16px;
            padding-right: 15px;
            height: 30px;
            width: 90px;
            margin-right: 8px;

            span {
              margin-right: 5px;
            }
          }

          .twitter {
            cursor: pointer;
            outline: none;
            border-radius: 6px;
            border: none;
            background-color: #1b95e0;
            color: #fff;
            @include PT-sans-regular;
            font-size: 16px;
            padding-right: 15px;
            height: 30px;
            width: 90px;
            margin-left: 8px;

            span {
              margin-right: 5px;
            }
          }
        }
      }
    }

    section.footer {
      width: 100%;
      background-color: #222222;

      footer {
        @media screen and (max-width: 1367px) {
          width: 968px;
        }

        @media screen and (max-width: 967px) {
          width: 768px;
        }

        @media screen and (max-width: 767px) {
          width: 480px;
        }

        padding-top: 50px;
        padding-bottom: 50px;
        width: 1368px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        .first-column {
          flex: 1;

          h2.logo {
            @media screen and (max-width: 1367px) {
              font-size: 36px;
            }

            @include PT-serif-bold;
            font-size: 52px;

            a {
              color: #ff6633;
              text-decoration: none;
            }
          }
        }
        
        .second-column {
          flex: 1;

          .title {
            h3 {
              @media screen and (max-width: 1367px) {
                font-size: 18px;
                margin-bottom: 10px;
              }

              text-transform: uppercase;
              @include PT-serif-bold;
              font-size: 24px;
              color: #fff;
              margin-bottom: 25px;
            }
          }

          ul.nav {
            display: flex;
            flex-direction: column;

            li.nav-item {
              a {
                @media screen and (max-width: 1367px) {
                  font-size: 16px;
                }

                @include PT-sans-regular;
                font-size: 18px;
                color: #fff;
                text-transform: uppercase;
                padding-left: 0;
              }
            }
          }
        }

        .third-column {
          flex: 1;

          .visit-us {
            h3 {
              @media screen and (max-width: 1367px) {
                font-size: 18px;
                margin-bottom: 10px;
              }

              text-transform: uppercase;
              @include PT-serif-bold;
              font-size: 24px;
              color: #fff;
              margin-bottom: 25px;
            }

            p {
              @media screen and (max-width: 1367px) {
                font-size: 16px;
              }

              @include PT-sans-regular;
              font-size: 18px;
              color: #fff;
              
              span {
                color: #ff6633;
              }
            }
          }
          
          .connect {
            h3 {
              @media screen and (max-width: 1367px) {
                font-size: 18px;
              }

              text-transform: uppercase;
              @include PT-serif-bold;
              font-size: 24px;
              color: #fff;
            }
          }
          
          .social-icons {
            margin-top: 20px;

            span {
              margin-right: 15px;

              a {
                @media screen and (max-width: 1367px) {
                  font-size: 17px;
                }

                color: #fff;
                text-decoration: none;
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}